Repository opendatateam/udata-front-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abulte, @geoffreyaldebert, @streino, @jordanguedj, @opendatateam/etalab, @opendatateam/ecospheres-admin, @johanricher, @JeSuisUnCaillou

.github/CODEOWNERS:

# Default owners

*  @abulte @geoffreyaldebert @streino


# Special owners

/.github/CODEOWNERS  @abulte @geoffreyaldebert @streino

/.github/workflows/create-deploy-release.yml  @geoffreyaldebert @jordanguedj


# Vertical owners
# /configs/<vertical> and /src/custom/<vertical>

**/defis/         @opendatateam/etalab
**/ecospheres/    @opendatateam/ecospheres-admin
**/hackathon/     @opendatateam/etalab
**/logistique/    @opendatateam/etalab @johanricher
**/meteo-france/  @opendatateam/etalab
**/simplifions/   @JeSuisUnCaillou

surface more errors
  tabular-dataviz/src/components/mesh.mjs
  tabular-dataviz/src/components/territory.mjs
  tabular-dataviz/src/core/format.mjs
  tabular-dataviz/src/index.mjs
Owners: @abulte, @geoffreyaldebert, @streino

remove isMockDataset
  src/custom/ecospheres/views/indicators/IndicatorVisualisation.vue
Owners: @opendatateam/ecospheres-admin

Api data are actually recos (#844)
  src/custom/simplifions/components/SimplifionsCasDusageDescription.vue
  src/custom/simplifions/components/SimplifionsDataApiCard.vue
  src/custom/simplifions/components/SimplifionsDataApiList.vue
  src/custom/simplifions/components/SimplifionsRecoDataApiCard.vue
  src/custom/simplifions/components/SimplifionsRecoSolutions.vue
  src/custom/simplifions/model/cas_usage.ts
Owners: @JeSuisUnCaillou

fix: types
  package-lock.json
  package.json
  src/custom/ecospheres/utils/indicator.ts
  tsconfig.app.json
Owners: @abulte, @geoffreyaldebert, @streino, @opendatateam/ecospheres-admin

fix: vue instance duplicate due to optimize
  vite.config.mts
Owners: @abulte, @geoffreyaldebert, @streino

fix layout for multiple axes checkboxes
  tabular-dataviz/src/components/axes.mjs
  tabular-dataviz/styles/visualisation.css
Owners: @abulte, @geoffreyaldebert, @streino

axes values collapsed in summary
  tabular-dataviz/src/components/axes.mjs
  tabular-dataviz/styles/visualisation.css
Owners: @abulte, @geoffreyaldebert, @streino

Fix simplifions flaky test (#852)
  cypress/e2e/custom/simplifions/solution_details.cy.js
  src/custom/simplifions/components/SimplifionsSolutionDescription.vue
Owners: @JeSuisUnCaillou

format numbers with current locale
  tabular-dataviz/src/core/chart.mjs
  tabular-dataviz/src/core/format.mjs
  tabular-dataviz/src/index.mjs
Owners: @abulte, @geoffreyaldebert, @streino

pageSize on fetch, defaults to 200
  tabular-dataviz/src/core/fetch.mjs
Owners: @abulte, @geoffreyaldebert, @streino

add chartTitle
  src/custom/ecospheres/views/indicators/IndicatorVisualisation.vue
  tabular-dataviz/README.md
  tabular-dataviz/src/core/chart.mjs
  tabular-dataviz/src/core/dom.mjs
  tabular-dataviz/src/core/fetch.mjs
Owners: @opendatateam/ecospheres-admin, @abulte, @geoffreyaldebert, @streino

add fullscreen
  tabular-dataviz/src/core/chart.mjs
Owners: @abulte, @geoffreyaldebert, @streino

fix value == 0 wrong error
  tabular-dataviz/src/core/format.mjs
Owners: @abulte, @geoffreyaldebert, @streino

feat: use types from components
  package-lock.json
  package.json
  src/components/datasets/ContactPoints.vue
  src/model/contactPoint.ts
  src/model/dataset.ts
  src/services/api/resources/ContactPointAPI.ts
  src/store/ContactPointStore.ts
Owners: @abulte, @geoffreyaldebert, @streino

refac: remove dataservice type
  package-lock.json
  package.json
  src/components/DataserviceCard.vue
  src/custom/ecospheres/views/indicators/IndicatorDetailView.vue
  src/custom/simplifions/components/SimplifionsDataApiCard.vue
  src/model/dataservice.ts
Owners: @abulte, @geoffreyaldebert, @streino, @opendatateam/ecospheres-admin, @JeSuisUnCaillou

white bg for fullscreen
  tabular-dataviz/styles/visualisation.css
Owners: @abulte, @geoffreyaldebert, @streino

truncate y-axis numbers and more coherence
  tabular-dataviz/src/core/format.mjs
Owners: @abulte, @geoffreyaldebert, @streino

use formatnumber for previous fix
  tabular-dataviz/src/core/format.mjs
Owners: @abulte, @geoffreyaldebert, @streino

space unit
  tabular-dataviz/src/core/chart.mjs
Owners: @abulte, @geoffreyaldebert, @streino

territory select dropdown indicator
  tabular-dataviz/styles/visualisation.css
Owners: @abulte, @geoffreyaldebert, @streino

territory select dropdown height
  tabular-dataviz/styles/visualisation.css
Owners: @abulte, @geoffreyaldebert, @streino

fix simplifions test
  cypress/e2e/custom/simplifions/solution_details.cy.js
Owners: @JeSuisUnCaillou

feat: i18n setup done in components
  package-lock.json
  package.json
  src/main.ts
Owners: @abulte, @geoffreyaldebert, @streino

eject module to https://www.npmjs.com/package/@ecolabdata/tabular-dataviz
  package-lock.json
  package.json
  tabular-dataviz/README.md
  tabular-dataviz/package-lock.json
  tabular-dataviz/package.json
  tabular-dataviz/rollup.config.js
  tabular-dataviz/src/components/axes.mjs
  tabular-dataviz/src/components/mesh.mjs
  tabular-dataviz/src/components/search.mjs
  tabular-dataviz/src/components/territory.mjs
  tabular-dataviz/src/components/utils.mjs
  tabular-dataviz/src/core/chart.mjs
  tabular-dataviz/src/core/datasets.mjs
  tabular-dataviz/src/core/dom.mjs
  tabular-dataviz/src/core/enums.mjs
  tabular-dataviz/src/core/fetch.mjs
  tabular-dataviz/src/core/format.mjs
  tabular-dataviz/src/data/territories/communes.mjs
  tabular-dataviz/src/data/territories/departements.mjs
  tabular-dataviz/src/data/territories/epcis.mjs
  tabular-dataviz/src/data/territories/regions.mjs
  tabular-dataviz/src/index.mjs
  tabular-dataviz/styles/visualisation.css
Owners: @abulte, @geoffreyaldebert, @streino

remove temp lint exception
  eslint.config.mjs
Owners: @abulte, @geoffreyaldebert, @streino

use human list for types solutions
  src/custom/simplifions/components/HumanReadableList.vue
  src/custom/simplifions/components/SimplifionsSolutionDescription.vue
Owners: @JeSuisUnCaillou

fix a test
  cypress/e2e/custom/simplifions/solution_details.cy.js
Owners: @JeSuisUnCaillou
