Repository opendatateam/udata-front-kit, pull requests merged in 2024-04, with the labels that each got.

#425 fix(bouquet): add dataset wording
  src/custom/ecospheres/components/forms/dataset/DatasetPropertiesFields.vue
Labels: bug, ecospheres

#421 feat(bouquets): filter list on spatial zone
  src/custom/ecospheres/components/BouquetList.vue
  src/custom/ecospheres/components/BouquetSearch.vue
  src/custom/ecospheres/components/forms/SelectSpatialCoverage.vue
  src/custom/ecospheres/components/forms/bouquet/BouquetInformationsFieldGroup.vue
  src/custom/ecospheres/views/bouquets/BouquetAddView.vue
  src/custom/ecospheres/views/bouquets/BouquetEditView.vue
  src/custom/ecospheres/views/bouquets/BouquetsListView.vue
Labels: enhancement, ecospheres

#428 feat(seo): add meta to bouquet detail and home
  configs/defis/config.yaml
  configs/ecospheres/config.yaml
  configs/meteo-france/config.yaml
  package-lock.json
  package.json
  src/custom/ecospheres/views/HomeView.vue
  src/custom/ecospheres/views/bouquets/BouquetDetailView.vue
  src/main.js
Labels: enhancement, ecospheres

#424 feat(bouquet): autosave datasets
  src/custom/ecospheres/components/BouquetDatasetList.vue
  src/custom/ecospheres/components/forms/bouquet/BouquetContentFieldGroup.vue
  src/custom/ecospheres/views/bouquets/BouquetEditView.vue
Labels: enhancement, ecospheres

#409 fix: typescript components syntax
  .github/workflows/node.js.yml
  package-lock.json
  package.json
  src/components/header/Header.vue
  src/custom/meteo/assets/datasets.json
  src/custom/meteo/views/FormMF.vue
Labels: refactor

#422 fix(datasets): persist search params in URL query
  src/model/config.ts
  src/services/routerUtils.js
  src/store/OrganizationStore.ts
  src/store/TopicStore.ts
  src/views/datasets/DatasetsListView.vue
Labels: bug, refactor

#418 feat(bouquets): add global datasets CSV export
  src/views/datasets/DatasetsListView.vue
Labels: enhancement, ecospheres

#417 feat(bouquets): add datasets CSV export
  package-lock.json
  package.json
  src/custom/ecospheres/components/BouquetDatasetListExport.vue
  src/custom/ecospheres/components/forms/bouquet/BouquetFormRecap.vue
  src/custom/ecospheres/services/export.ts
  src/custom/ecospheres/views/bouquets/BouquetDetailView.vue
Labels: enhancement, ecospheres

#429 refactor: router config and smart build based on site id
  .env
  .env.production
  README.md
  configs/defis/config.yaml
  configs/ecospheres/config.yaml
  configs/meteo-france/config.yaml
  index.html
  package-lock.json
  package.json
  public/ecospheres/pages/beta.md
  src/components/Navigation.vue
  src/custom/ecospheres/routes.ts
  src/custom/meteo-france/assets/datasets.json
  src/custom/meteo-france/assets/deps.json
  src/custom/meteo-france/assets/loader.gif
  src/custom/meteo-france/routes.ts
  src/custom/meteo-france/views/FormMF.vue
  src/main.ts
  src/model/config.ts
  src/router/index.js
  src/router/index.ts
  src/services/routerUtils.js
  src/typings/vite-env.d.ts
  src/typings/vue-matomo.d.ts
  vite.config.ts
Labels: refactor, build

#435 fix(bouquet): missing wording change
  src/custom/ecospheres/components/forms/dataset/DatasetPropertiesFields.vue
Labels: bug, ecospheres

#437 Release avril demo env
  .env
  .env.production
  .github/workflows/node.js.yml
  .github/workflows/robots.yml
  README.md
  configs/defis/config.yaml
  configs/ecospheres/config.yaml
  configs/meteo-france/config.yaml
  index.html
  package-lock.json
  package.json
  public/ecospheres/pages/beta.md
  public/robots.txt
  scripts/generate-robots-txt.mjs
  src/components/Navigation.vue
  src/components/ReusesList.vue
  src/components/header/Header.vue
  src/custom/ecospheres/components/BouquetDatasetList.vue
  src/custom/ecospheres/components/BouquetDatasetListExport.vue
  src/custom/ecospheres/components/BouquetList.vue
  src/custom/ecospheres/components/BouquetSearch.vue
  src/custom/ecospheres/components/forms/SelectSpatialCoverage.vue
  src/custom/ecospheres/components/forms/bouquet/BouquetContentFieldGroup.vue
  src/custom/ecospheres/components/forms/bouquet/BouquetFormRecap.vue
  src/custom/ecospheres/components/forms/bouquet/BouquetInformationsFieldGroup.vue
  src/custom/ecospheres/components/forms/dataset/DatasetPropertiesFields.vue
  src/custom/ecospheres/routes.ts
  src/custom/ecospheres/services/export.ts
  src/custom/ecospheres/views/HomeView.vue
  src/custom/ecospheres/views/bouquets/BouquetAddView.vue
  src/custom/ecospheres/views/bouquets/BouquetDetailView.vue
  src/custom/ecospheres/views/bouquets/BouquetEditView.vue
  src/custom/ecospheres/views/bouquets/BouquetsListView.vue
  src/custom/meteo-france/assets/datasets.json
  src/custom/meteo-france/assets/deps.json
  src/custom/meteo-france/assets/loader.gif
  src/custom/meteo-france/routes.ts
  src/custom/meteo-france/views/FormMF.vue
  src/main.ts
  src/model/config.ts
  src/model/index.ts
  src/model/resource.ts
  src/model/reuse.ts
  src/router/index.js
  src/router/index.ts
  src/services/api/resources/ReusesAPI.js
  src/services/api/resources/ReusesAPI.ts
  src/services/routerUtils.js
  src/store/OrganizationStore.ts
  src/store/ReuseStore.js
  src/store/ReuseStore.ts
  src/store/TopicStore.ts
  src/typings/vite-env.d.ts
  src/typings/vue-matomo.d.ts
  src/utils/index.js
  src/views/datasets/DatasetDetailView.vue
  src/views/datasets/DatasetsListView.vue
  vite.config.ts
Labels: ecospheres

#440 Release avril prod env
  .env
  .env.production
  .github/workflows/node.js.yml
  .github/workflows/robots.yml
  README.md
  configs/defis/config.yaml
  configs/ecospheres/config.yaml
  configs/meteo-france/config.yaml
  index.html
  package-lock.json
  package.json
  public/ecospheres/pages/beta.md
  public/robots.txt
  scripts/generate-robots-txt.mjs
  src/components/Navigation.vue
  src/components/ReusesList.vue
  src/components/header/Header.vue
  src/custom/ecospheres/components/BouquetDatasetList.vue
  src/custom/ecospheres/components/BouquetDatasetListExport.vue
  src/custom/ecospheres/components/BouquetList.vue
  src/custom/ecospheres/components/BouquetSearch.vue
  src/custom/ecospheres/components/forms/SelectSpatialCoverage.vue
  src/custom/ecospheres/components/forms/bouquet/BouquetContentFieldGroup.vue
  src/custom/ecospheres/components/forms/bouquet/BouquetFormRecap.vue
  src/custom/ecospheres/components/forms/bouquet/BouquetInformationsFieldGroup.vue
  src/custom/ecospheres/components/forms/dataset/DatasetPropertiesFields.vue
  src/custom/ecospheres/routes.ts
  src/custom/ecospheres/services/export.ts
  src/custom/ecospheres/views/HomeView.vue
  src/custom/ecospheres/views/bouquets/BouquetAddView.vue
  src/custom/ecospheres/views/bouquets/BouquetDetailView.vue
  src/custom/ecospheres/views/bouquets/BouquetEditView.vue
  src/custom/ecospheres/views/bouquets/BouquetsListView.vue
  src/custom/meteo-france/assets/datasets.json
  src/custom/meteo-france/assets/deps.json
  src/custom/meteo-france/assets/loader.gif
  src/custom/meteo-france/routes.ts
  src/custom/meteo-france/views/FormMF.vue
  src/main.ts
  src/model/config.ts
  src/model/index.ts
  src/model/resource.ts
  src/model/reuse.ts
  src/router/index.js
  src/router/index.ts
  src/services/api/resources/ReusesAPI.js
  src/services/api/resources/ReusesAPI.ts
  src/services/routerUtils.js
  src/store/OrganizationStore.ts
  src/store/ReuseStore.js
  src/store/ReuseStore.ts
  src/store/TopicStore.ts
  src/typings/vite-env.d.ts
  src/typings/vue-matomo.d.ts
  src/utils/index.js
  src/views/datasets/DatasetDetailView.vue
  src/views/datasets/DatasetsListView.vue
  vite.config.ts
Labels: ecospheres
